<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


    <title>LoL Winner Winner!!</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">

<div class="jumbotron" style="height: 120px;vertical-align:middle;padding-top: 15px;padding-bottom: 0px;">
    LoL winner winner
    <br><br>
      <form action="/lol_main" method="GET">
        <div class="form-group">
          <h1 style-"margin-bottom: 0 px">
          <label for="gameID">Enter 10-digit game ID: </label>
          <input style="text-align: center" type="text" id="gameID" name='gameID' placeholder="e.g., 2222222222 ">
          <button type="submit" class="btn btn-default btn-small">Track!</button>
        </h1>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</div>

<div class="starter-template">

<div class="row">
        <div class="col-md-3">



<table class="table table-hover">
{% for i in range(0,5) %}
<tr>
  <td style="vertical-align:middle"><img src="{{ game_dat['photos'][i] }}" alt="{{ game_dat['champions'][i] }}" width="70"></td>
  <td bgcolor="#478DF4" style="color: white; vertical-align:middle">{{ game_dat['names'][i] }}</td>
  </tr> 
{% endfor %} 
</table> 

        </div>
        <div class="col-md-6">


<div class="starter-template">

<table id="result-table" style="display:none" border-color="#FFFFFF" align="center">
  <tr><td style="width:100%">
{% if winner == 0 %}
<p style="color:#EA7375; font-size:170%; margin-bottom: 3px">Red team won!</p>
{% else %}
<p style="color:#478DF4; font-size:170%; margin-bottom: 3px">Blue team won!</p>
{% endif %}
</td></tr>
</table>

<table id="current-prob-table" style="display:inline" border-color="#FFFFFF" align="center">
<tr><td id="current-prob" style="align:center; color:#478DF4; font-size:170%; margin-bottom: 3px">
</td></tr>
</table>

<table>
<tr><td style="width:80%">
  <div id="container" style="min-width: 350px; height: 400px; margin: 0 auto; align: middle"></div>

<script>
$(function () { 
    var myChart = 
Highcharts.chart('container', {
    chart: {
        type: 'line',
        animation: false, // don't animate in old IE
        marginRight: -10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0];
                var x = {{ frames }};
                var y = {{ predictions }};
                var i = 0;
                var show = 0;
                var intervalId = setInterval(function(){
                   if(i === {{ maxframe }}){
                      document.getElementById("result-table").style.display = "inline";
                      document.getElementById("current-prob-table").style.display = "none";
                      clearInterval(intervalId);
                   }
                   
                   series.addPoint([x[i], y[i]], true, true);

                   var disp_string = "(" + x[i].toString() + ' mins, ~' + (y[i]*100).toFixed(0).toString() + "%)";
                   document.getElementById("current-prob").innerHTML = disp_string;

                   i++;
                }, 500);
                
                
            }
        },
        style: {
          fontFamily: 'sans-serif'
        }
    },

    time: {
        useUTC: false
    },

    title: {
        text: '<b>Chance of Blue winning</b>',
        align: 'center',
        x: 20
    },
    xAxis: {
        title: {
          text: 'Time in game (minutes)'
        },
        min: 0,
        max: {{ maxframe }},
        tickInterval: 1
    },
    yAxis: {
        title: {
            text: 'Percent'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#478DF4'
            },

            {value: 0.5,
                color: 'black',
                dashStyle: 'shortdash',
                width: 2,
                label: {
                    text: '50/50',
                    align: 'right',
                    textAlign: 'right',
                    x: -10
                }
            }
        ],
        min: 0,
        max: 1,
        tickInterval: 0.1
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:.0f}, {point.y:.2f}'
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: 'Chance of Blue winning',
        marker: {
          fillColor: '#FFFFFF',
          lineWidth: 2,
          lineColor: null,
          enabled: true
        },
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;

            for (i = -50; i <= 0; i += 1) {
                data.push({
                    x: {{ frames[0] }},
                    y: {{ predictions[0] }}
                });
            }
            return data;
        }())
    }]
});
});
</script>



</td></tr>
</table>


<center><table>
<tr><td style="width:50%"><b>Date and time</b></td> <td align="right" style="width:50%">{{ game_dat['game_start'] }}</td></tr>
<tr><td style="width:50%"><b>Duration</b></td> <td align="right" style="width:50%">{{ game_dat['duration'] }}</td></tr>
<tr><td style="width:50%"><b>Game ID</b></td> <td align="right" style="width:50%">{{ gameID }}</td></tr>
</table>
</center>

</div>

        </div>
        <div class="col-md-3">

<table class="table table-hover">
{% for i in range(5,10) %}
<tr>
  <td bgcolor="#EA7375" style="color: white; vertical-align:middle">{{ game_dat['names'][i] }}</td>
  <td style="vertical-align:middle"><img src="{{ game_dat['photos'][i] }}" alt="{{ game_dat['champions'][i] }}" width="70"></td>
  </tr> 
{% endfor %} 
</table> 

        </div>
      </div>







<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script> 

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
