<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>LoL Winner Winner!!</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">

<div class="jumbotron" style="height: 120px;vertical-align:middle;padding-top: 15px;padding-bottom: 0px;">
    LoL winner winner
    <br><br>
      <form action="/lol_main" method="GET">
        <div class="form-group">
          <h1 style-"margin-bottom: 0 px">
          <label for="gameID">Please enter 10-digit game ID: </label>
          <input style="text-align: center" type="text" id="gameID" name='gameID' placeholder="e.g., 2222222222 ">
          <button type="submit" class="btn btn-default btn-small">Track!</button>
        </h1>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</div>

<div class="starter-template">

<div class="row">
        <div class="col-md-3">



<table class="table table-hover">
{% for i in range(0,5) %}
<tr>
  <td style="vertical-align:middle"><img src="{{ game_dat['photos'][i] }}" alt="{{ game_dat['champions'][i] }}" width="70"></td>
  <td bgcolor="#478DF4" style="color: white; vertical-align:middle">{{ game_dat['names'][i] }}</td>
  </tr> 
{% endfor %} 
</table> 

        </div>
        <div class="col-md-6">


<div class="starter-template">

<table border-color="#FFFFFF" align=center><tr><td>
{% if winner[1] %}
<p style="color:#EA7375; font-size:170%; margin-bottom: 3px">Red team wins!</p>
{% else %}
<p style="color:#478DF4; font-size:170%; margin-bottom: 3px">Blue team wins!</p>
{% endif %}
</td></tr></table>

<table>
<tr><td style="width:80%">
  {{ video_html }}
</td></tr>
</table>


<center><table>
<tr><td style="width:50%"><b>Date and time</b></td> <td align="right" style="width:50%">{{ game_dat['game_start'] }}</td></tr>
<tr><td style="width:50%"><b>Duration</b></td> <td align="right" style="width:50%">{{ game_dat['duration'] }}</td></tr>
</table>
</center>

</div>

        </div>
        <div class="col-md-3">

<table class="table table-hover">
{% for i in range(5,10) %}
<tr>
  <td bgcolor="#EA7375" style="color: white; vertical-align:middle">{{ game_dat['names'][i] }}</td>
  <td style="vertical-align:middle"><img src="{{ game_dat['photos'][i] }}" alt="{{ game_dat['champions'][i] }}" width="70"></td>
  </tr> 
{% endfor %} 
</table> 

        </div>
      </div>







<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script> 

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
